services:
  service-b:
    build: ./service-b
    ports:
      - "8081:8081"

  service-a:
    build: ./service-a
    ports:
      - "8080:8080"
    depends_on:
      - service-b
    environment:
      - SPRING_PROFILES_ACTIVE=docker